<div>

  <md-tab-group (selectChange)="onSelectFilter($event?.index)">
    <md-tab label="All"></md-tab>
    <md-tab label="Done"></md-tab>
    <md-tab label="Not done"></md-tab>
  </md-tab-group>

  <md-list>
      <app-todo *ngFor="let todo of ( todos | todoFilter:filter )" [todo]="todo"></app-todo>
  </md-list>

  <form class="add-todo-form full-width">
    <md-form-field class="full-width">
      <input mdInput placeholder="What would you do?" value="">
    </md-form-field>
    <div class="button-row">
      <button md-raised-button class="full-width" color="primary">Add item</button>
    </div>
  </form>
</div>
