<div>

  <md-tab-group (selectChange)="onSelectFilter($event?.index)">
    <md-tab label="All"></md-tab>
    <md-tab label="Done"></md-tab>
    <md-tab label="Not done"></md-tab>
  </md-tab-group>

  <md-list *ngIf="todoList?.length">
      <app-todo
              *ngFor="let todo of ( todoList | todoFilter:filter )"
              [todo]="todo"
              (onAction)="onChangeTodo($event)"
      ></app-todo>
  </md-list>

  <form
          class="add-todo-form full-width"
          (ngSubmit)="onAddTodo(todoForm.value)"
          [formGroup]="todoForm"
          *ngIf="showForm"
          novalidate
  >
    <md-form-field class="full-width">
      <input
              mdInput
              ngModel
              placeholder="What would you do?"
              type="text"
              [formControlName]="'todo'"
              name="todo"
              required
      >
    </md-form-field>
    <div class="button-row">
      <button
              md-raised-button
              class="full-width"
              color="primary"
              [disabled]="!todoForm.valid"
      >Add item</button>
    </div>
  </form>
</div>
