<header class="page-head">
  <span>Please create an account or</span>
  <a md-icon-button routerLink="/login">Sign-in</a>
</header>
<form
        class="register-form"
        (ngSubmit)="onRegister(registerForm.value)"
        [formGroup]="registerForm"
        *ngIf="!success"
>
  <md-form-field class="full-width">
    <input
            mdInput
            ngModel
            placeholder="E-mail"
            type="email"
            name="email"
            (focus)="error = null"
            (change)="error = null"
            [formControlName]="'email'"
            required
    >
    <md-error *ngIf="email?.hasError('pattern')">
      Please enter a valid email address
    </md-error>
    <md-error *ngIf="email?.hasError('required')">
      Email is <strong>required</strong>
    </md-error>
  </md-form-field>
  <md-form-field class="full-width">
    <input
            mdInput
            ngModel
            placeholder="Password"
            type="password"
            name="password"
            (focus)="error = null"
            (change)="error = null"
            [formControlName]="'password'"
            required
    >
    <md-error *ngIf="password.hasError('required')">
      Password is <strong>required</strong>
    </md-error>
  </md-form-field>
  <md-form-field class="full-width">
    <input
            mdInput
            ngModel
            placeholder="Confirm Password"
            type="password"
            name="password2"
            (focus)="error = null"
            (change)="error = null"
            [formControlName]="'password2'"
            required
    >
    <md-error *ngIf="password2.hasError('required')">
      Password confirmation is <strong>required</strong>
    </md-error>
  </md-form-field>
  <button
          md-raised-button
          class="full-width"
          color="primary"
          type="submit"
          [disabled]="fetching || !registerForm.valid"
  >Register</button>

  <md-progress-spinner
          *ngIf="fetching"
          class="progress"
          [color]="'primary'"
          [mode]="'indeterminate'"
  >
  </md-progress-spinner>

  <md-card *ngIf="error?.length" class="message">
    {{ error }}
  </md-card>

</form>

<md-card *ngIf="success" class="register-form message">
  <div class="message-wrapper">
    Registration Success!
  </div>
  <div>
    <a
            md-raised-button
            color="accent"
            routerLink="/"
    > Click here to start! </a>
  </div>
</md-card>