<form
        class="register-form"
        (ngSubmit)="onRegister(registerForm.value)"
        #registerForm="ngForm"
        *ngIf="!success"
>
  <md-form-field class="full-width">
    <input
            mdInput
            ngModel
            placeholder="E-mail"
            type="email"
            name="email"
            [disabled]="fetching"
            (focus)="error = null"
            (change)="error = null"
    >
  </md-form-field>
  <md-form-field class="full-width">
    <input
            mdInput
            ngModel
            placeholder="Password"
            type="password"
            name="password"
            [disabled]="fetching"
            (focus)="error = null"
            (change)="error = null"
    >
  </md-form-field>
  <md-form-field class="full-width">
    <input
            mdInput
            ngModel
            placeholder="Confirm Password"
            type="password"
            name="password2"
            [disabled]="fetching"
            (focus)="error = null"
            (change)="error = null"
    >
  </md-form-field>
  <button
          md-raised-button
          class="full-width"
          color="primary"
          type="submit"
          [disabled]="fetching"
  >Register</button>

  <md-progress-spinner
          *ngIf="fetching"
          class="progress"
          [color]="'primary'"
          [mode]="'indeterminate'"
  >
  </md-progress-spinner>

  <md-card *ngIf="error?.length" class="message">
    {{ error }}
  </md-card>

</form>

<md-card *ngIf="success" class="register-form message">
  <div class="message-wrapper">
    Registration Success!
  </div>
  <div>
    <a
            md-raised-button
            color="accent"
            routerLink="/"
    > Sign-in to start! </a>
  </div>
</md-card>