<form
        class="login-form"
        (ngSubmit)="onLogin(loginForm.value)"
        [formGroup]="loginForm"
        novalidate
>

  <md-form-field class="full-width">
    <input
            mdInput
            ngModel
            placeholder="E-mail"
            type="email"
            name="email"
            required
            (focus)="error = null"
            [formControlName]="'email'"
    >
    <md-error *ngIf="email?.hasError('pattern')">
      Please enter a valid email address
    </md-error>
    <md-error *ngIf="email?.hasError('required')">
      Email is <strong>required</strong>
    </md-error>
  </md-form-field>
  <md-form-field class="full-width">
    <input
            mdInput
            ngModel
            placeholder="Password"
            type="password"
            name="password"
            required
            (focus)="error = null"
            [formControlName]="'password'"
    >
    <md-error *ngIf="password.hasError('required')">
      Password is <strong>required</strong>
    </md-error>
  </md-form-field>
  <button
          md-raised-button
          class="full-width"
          color="primary"
          [disabled]="loginForm.errors || fetching"
  >Sign-in</button>

  <md-progress-spinner
          *ngIf="fetching"
          class="progress"
          [color]="'primary'"
          [mode]="'indeterminate'"
  >
  </md-progress-spinner>

  <md-card *ngIf="error?.length" class="message">
    {{ error }}
  </md-card>

</form>