<form class="login-form" (ngSubmit)="onLogin(loginForm.value)" #loginForm="ngForm" >
  <md-form-field class="full-width">
    <input
            mdInput
            ngModel
            placeholder="E-mail"
            name="login"
    >
  </md-form-field>
  <md-form-field class="full-width">
    <input
            mdInput
            ngModel
            placeholder="Password"
            type="password"
            name="password"
    >
  </md-form-field>
  <button
          md-raised-button
          class="full-width"
          color="primary"
  >Sign-in</button>
</form>