.profile-icon {
  padding: 0 14px;
}

.spacer {
  flex: 1 1 auto;
}

.user-email {
  width: 100%;
  max-width: 300px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  pointer-events: none;
}