<md-list-item>
    <button
            (click)="onDone()"
            *ngIf="!editMode"
            md-icon-button
    >
        <md-icon *ngIf="!todo?.completed">
            check_box_outline_blank
        </md-icon>
        <md-icon *ngIf="todo?.completed">
            check_box
        </md-icon>
    </button>
    <form class="todo-item-form full-width">
        <input #todoInput mdInput [disabled]="!editMode" value="{{ todo.text }}">
        <button
                *ngIf="editMode"
                (click)="onSave(todoInput.value)"
                md-icon-button
        >
            <md-icon class="on-hover icon-edit">check</md-icon>
        </button>
    </form>
    <button
            *ngIf="!editMode"
            (click)="onEdit()"
            md-icon-button
    >
        <md-icon class="on-hover icon-edit">mode_edit</md-icon>
    </button>
    <button
            md-icon-button
            (click)="onRemove(todo?.id)"
    >
        <md-icon class="on-hover icon-delete">delete</md-icon>
    </button>
</md-list-item>